html, body {
  height: 100%;
  width:100%;
  margin: 0;
}
#sub {
  left:5vh;
  top:5vh;
  position:fixed;
  background:transparent;
  text-align:left;
}
#src {
  display:none;
}
#ori {
  margin:0 auto;
  position:fixed;
  z-index:-1;
}
#sliders {
  right:5vh;
  bottom:5vh;
  position:fixed;
  display:flex;
  flex-direction:column;
  min-width:45vw;
  justify-content:space-between;
  min-height:50vh;
}
.row{
  display:flex;
  justify-content: space-between;
}

input{
  width:70%;
}