html{
    height: 100vh;
}
body {
    margin: 0;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 15pt;
    color: #4d4a4a;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width:100%
}
.header img {
    width: 2.5em;
    height: 2.5em;
}
#coupon-link {
    margin-right: 5pt;
    /* margin-top: 0.2em;
    margin-bottom: 0.2em; */
    padding: 5pt;
    border: #afaaaa 1px solid;
    border-radius: 10pt;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#coupon-img {
    width: 18pt;
    height: 18pt;
    transition: transform 0.3s ease;
}

#container {
    display: flex;
    flex-grow: 1;
}

#sidebar {
    width: 320px;
    overflow: auto;
    border-right: 1px solid #ddd;
    padding: 10px;
    background: white;
}

#map {
    flex: 1;
}

.restaurant {
    padding: 8px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.restaurant:hover {
    background: #f5f5f5;
}

.marker-cluster-small {
    background-color: rgba(200, 0, 0, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(180, 0, 0, 0.6);
}

.marker-cluster-large {
    background-color: rgba(160, 0, 0, 0.6);
}

.popup-btn {
    background: #e53935;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.popup-btn:hover {
    background: #c62828;
}

.cluster-wrapper {
    background: transparent;
}
.leaflet-popup-content{
    font-size: 10pt;
}
.leaflet-popup-close-button{
    font-size: 12pt;
    width: 12pt;
    height: 12pt;
}
.popup-btn{
    padding: 0 auto;
    font-size: 10pt;
    padding: 5pt 10pt;
    border-radius: 5pt;
}

.cluster-circle {
    background: #e58735;
    color: white;
    width: 30pt;
    height: 30pt;
    border-radius: 50%;
    text-align: center;
    line-height: 30pt;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 14pt;
}

#locate-btn {
    position: absolute;
    bottom: 12pt;
    right: 12pt;
    z-index: 1000;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12pt;
    padding: 10pt 6pt;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    font-size: 2em;
    line-height: 1;
}

#locate-btn:disabled {
    opacity: 0.6;
    cursor: default;
}

